<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <style>
    .left {
      width: 200px;
      float: left;
      background-color: red;
    }
    .right {
      width: 200px;
      float: right;
      background-color: blue;
    }
    .center {
      margin: 0 210px;
      background-color: yellow;
    }
    .test-box {
      height: 300px;
    }
  </style>
</head>
<body>
  <div class="wrap">
    <div class="left"><div class="test-box"><span>left</span></div></div>
    <div class="right"><div class="test-box"><span>right</span></div></div>
    <div class="center"><div class="test-box"><span>center</span></div></div>
  </div>
</body>
</html>
